---
import { Image } from "astro:assets";
import BaseLayout from "../../layouts/BaseLayout.astro";
import dagon from "../../assets/creatures/dagon.png";
import TabList from "../../components/TabList.astro";
import creatureData from "../../data/creatures.json";

const pageTitle = "Creatures";
const page = "Creatures";
---

<BaseLayout pageTitle={pageTitle} page={page}>
  <main id="main" class="container">
    <div class="columns-2 column--on-m">
      <div class="left-col | flex flex-column">
        <h1 class="ff-title fs-xl text-base">Dwellers of Mythos</h1>
        <div class="image-wrapper">
          <Image
            src={dagon}
            alt={`${creatureData[2].name}`}
            id={`${creatureData[2].name.toLowerCase()}-image`}
            data-hidden=""
          />
        </div>
      </div>

      <div class="content-wrapper">
        <TabList
          ariaLabel="creature list"
          tabData={creatureData.map((creature) => ({
            name: creature.name,
            url: creature.url,
          }))}
        />

        <!-- Moon  -->
        <article
          id={`${creatureData[0].name.toLowerCase()}-tab`}
          role="tabpanel"
          tabindex="0"
          data-hidden="">
          <div class="text-wrapper flex flex-column">
            <h2 class="fs-2xl text-accent">{creatureData[0].name}</h2>

            <p class="text-dark">{creatureData[0].description}</p>
          </div>
        </article>
      </div>
    </div>
  </main>

  <style>
    .container {
      /* outline: 5px dotted pink; */
      padding-block-end: 2rem;
    }

    .columns-2 {
      --gap: var(--space-m);
      height: 100%;
      align-items: center;
      /* place-items: center; */
      /* padding-block-end: 2rem; */

      & p {
        max-width: 45ch;
      }

      /* outline: 2.5px solid limegreen;
      & > * {
        outline: 1px solid red;
      } */
    }

    img {
      height: 100%;
      width: auto;
      /* justify-self: center; */
    }

    article {
      position: relative;
      background-color: var(--clr-base-l-1);
      padding: var(--space-m);
      width: 100%;
      border-radius: 0 0 5px 5px;
      z-index: 10;
    }

    .text-wrapper {
      background-color: var(--clr-light);
      padding: var(--space-m);
      border-radius: 5px;
      box-shadow: 0px 5px 15px -5px var(--shadow-primary);

      h2 {
        position: relative;
        line-height: 1;
      }

      & h2::after {
        content: "";
        position: absolute;
        bottom: calc(-1 * calc(var(--space-m) * 0.5));
        left: 0;
        width: 100%;
        height: 1px;
        background-color: hsl(var(--dark) / 0.25);
      }
    }

    @media (max-width: 48rem) {
      .columns-2 {
        --gap: var(--space-xl);
      }

      .left-col {
        align-items: center;
      }

      .content-wrapper {
        width: max-content;
        justify-self: center;
      }

      .text-wrapper {
        align-items: center;
      }
    }
  </style>
</BaseLayout>
