---
import { Image } from "astro:assets";
import { slide } from "astro:transitions";
import BaseLayout from "../../layouts/BaseLayout.astro";

import locationData from "../../data/locations.json";

import plateau from "../../assets/locations/plateau.png";
import IconTabs from "../../components/IconTabs.astro";

const pageTitle = "Plateau of Leng";
const page = "locations";
---

<BaseLayout pageTitle={pageTitle} page={page}>
  <main id="main" class="grid-container grid-template">
    <h1 class="location-title | fs-l text-base">Locations of Mythos</h1>

    <div class="content-wrapper | flex">
      <IconTabs />
      <article class="location-content | flow">
        <h2 class="fs-2xl text-accent">{locationData[2].name}</h2>
        <p class="">{locationData[2].description}</p>
      </article>
    </div>

    <Image
      src={plateau}
      alt={`A dipiction of ${locationData[2].name}`}
      class="location-img"
      loading="eager"
      transition:name="img-transition"
    />
  </main>
</BaseLayout>

<style>
  .grid-container {
    display: grid;
    grid-template-columns:
      minmax(2em, 1fr)
      repeat(2, minmax(0, 38rem))
      minmax(2em, 1fr);

    align-items: center;
  }

  .grid-template {
    grid-template-areas:
      ". title title ."
      ". content image image"
      ". content image image";
  }

  .location-title {
    grid-area: title;
    align-self: start;
  }

  .content-wrapper {
    --gap: 0;
    grid-area: content;
    align-items: center;
  }

  .location-content {
    padding-inline: var(--space-xl);

    p {
      max-width: 55ch;
      text-wrap: balance;
    }
  }

  .location-img {
    grid-area: image;
    width: 100%;
    max-height: 70vh;
    object-fit: cover;
    object-position: bottom right;
    border: 1px solid hsl(var(--base) / 0.2);
    border-top-left-radius: var(--radius-m);
    border-bottom-left-radius: var(--radius-m);
  }

  @media (max-width: 48rem) {
    .grid-container {
      grid-template-columns: unset;
      place-items: center;
      grid-row-gap: var(--space-xl);
      margin-block-end: var(--space-2xl);
    }

    .grid-template {
      grid-template-areas:
        "title"
        "image"
        "content";
    }

    .location-title {
      place-self: center;
      padding-inline: 2rem;
    }

    .content-wrapper {
      --gap: var(--space-l);
      flex-direction: column;
    }

    .location-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .location-img {
      max-height: 50vh;
      object-position: center center;
      border-radius: 0;
    }
  }
</style>
