---
import { Image } from "astro:assets";
import BaseLayout from "../../layouts/BaseLayout.astro";

import locationData from "../../data/locations.json";

import rlyeh from "../../assets/locations/rlyeh.png";
import IconTabs from "../../components/IconTabs.astro";

const pageTitle = "Plateau of Leng";
const page = "Creatures";
---

<BaseLayout pageTitle={pageTitle} page={page}>
  <main id="main" class="grid-container grid-template">
    <h1 class="location-title | fs-l text-base">Locations of Mythos</h1>

    <IconTabs />

    <article class="location-content | flow">
      <h2 class="fs-2xl text-accent">{locationData[2].name}</h2>
      <p class="">{locationData[2].description}</p>
    </article>

    <Image
      src={rlyeh}
      alt={`A dipiction of ${locationData[2].name}`}
      class="location-img"
    />
  </main>
</BaseLayout>

<style>
  .grid-container {
    display: grid;
    grid-template-columns:
      minmax(2em, 1fr)
      minmax(0, auto); 
      repeat(2, minmax(0, 38rem))
      minmax(2em, 1fr);

    align-items: center;

    /* outline: 1px solid limegreen; */

    & > * {
      /* outline: 1px solid red; */
    }
  }

  .grid-template {
    grid-template-areas:
      ". title title title ."
      ". nav content image image"
      ". nav content image image";
  }

  .location-title {
    grid-area: title;
    align-self: start;
  }

  .location-content {
    grid-area: content;
    padding-inline: var(--space-xl);

    p {
      max-width: 55ch;
      text-wrap: balance;
    }
  }

  .location-img {
    grid-area: image;
    width: 100%;
    max-height: 70vh;
    object-fit: cover;
    object-position: bottom center;
    border: 1px solid hsl(var(--base) / 0.2);
    border-top-left-radius: var(--radius-m);
    border-bottom-left-radius: var(--radius-m);
  }

  @media (max-width: 48rem) {
    .grid-container {
      grid-template-columns: unset;
      place-items: center;
      grid-row-gap: var(--space-xl);
      margin-block-end: var(--space-2xl);
    }

    .grid-template {
      grid-template-areas:
        "title"
        "image"
        "nav"
        "content";
    }

    .location-title {
      place-self: center;
      padding-inline: 2rem;
    }

    .location-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .location-img {
      max-height: 50vh;
      object-position: center center;
      border-radius: 0;
    }
  }
</style>
